<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}EAT THIS ONE?{{else}}Make it again?{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Throw that Burg Away!</button>
</li>